---
import type { CollectionEntry } from 'astro:content';
import Github from '../icons/github.astro';
import InfoBox from './InfoBox.astro';
interface Props {
  project: CollectionEntry<'projects'>;
}
const { project } = Astro.props;
---

<InfoBox>
  <img
    slot="image"
    src={project.data.image}
    class="aspect-square w-3/4 lg:h-96 lg:w-96"
  />
  <Fragment slot="title">
    <h2>
      <span class="text-blue">{project.data.title}</span> - {
        project.data.subtitle
      }
    </h2>
    <div class="flex flex-row h-12 lg:h-8 gap-4">
      {
        project.data.link && (
          <a href={project.data.link} target="_blank">
            Try it!
          </a>
        )
      }
      <Github link={project.data.github} color="gray" />
    </div>
  </Fragment>
  <Fragment slot="top-right">
    <p>{project.data.startDate} - {project.data.endDate}</p>
    <p>{project.data.group}</p>
  </Fragment>
  <Fragment slot="box-body-li">
    {
      project.body
        .split('\n')
        .filter((line) => line != '')
        .map((line) => <li>{line}</li>)
    }
  </Fragment>
  <Fragment slot="tags">
    {
      project.data.tags.map((tag) => (
        <li class="text-blue border-gray-light border rounded-md shadow p-2">
          {tag}
        </li>
      ))
    }
  </Fragment>
</InfoBox>
